<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="tutu">
            <a href="/glavn">Tu•Tu</a>
        </div>
        <div class="nuv">
            <a href="/menu">меню</a>
            <a href="#">вакансии</a>
            <a href="#">корзина</a>
            <a href="/user">профиль</a>
        </div>

        <div class="burger-menu">
            <img src="static/img/меню.png" alt="">
            <img src="static/img/информация.png" alt="">
            <img src="static/img/корзина.png" alt="">
            <img src="static/img/профиль.png" alt="">
        </div>

        <div class="icon">
            <img src="static/img/icons8-меню-50.png" alt="">
        </div>
    </header>

    <section class="container">

        <div class="menu-nuv flex-wrap gap-4">
            <a href="#">Рамен и супы</a>
            <a href="#" class="vok">Вок</a>
            <a href="#">Поке и салаты</a>
            <a href="#">Суши и роллы</a>
            <a href="#">Десерты</a>
            <a href="#">Напитки</a>
        </div>


        <div class="mt-5 kard">
            <div class="flex">

                <div class="big">
                    <img src="static/img/топокки биг.png" alt="">
                </div>

                <div class="food">
                    <h2 class="h2">Токпокки острые</h2>

                    <p class="none">Токпокки острые</p>

                    <div class="knopka">
                        <p class="bold">Количество:</p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">3</label>
                        </div>
                    </div>
                    <div class="structure">
                        <p class="bold">Состав:</p>
                        <p class="p">Белки, г.27.57, Жиры г.16.05, Углеводы г.41.34</p>
                    </div>

                    <div class="kkal">
                        <p class="bold">Ккал:</p>
                        <p class="p">352.86</p>
                    </div>
                </div>
            </div>
            <p class="pp">Клёцки из рисового теста в остром соусе Кочхуджан с болгарским перцем, луком, маринованным
                яйцом</p>


        </div>

    </section>


    <div class="block-recome">
        <p class="recome">С этим так же рекомендуют:</p>
        <div class="recom-stroka">
            <div class="mini-block-menu col-lg-3 col-sm-6">
                <div class="mini-block">
                    <img src="static/img/пибимпаб2.png" alt="">
                    <a class="name-recome" href="#">Пибимпаб</a>
                    <p class="about-recome">Обжаренная мрамормная говядина, грибы, салат из маринованных огурцов и
                        помидоров, салат</p>
                    <div class="price-basket">
                        <p class="price-recome">450р</p>
                        <a class="basket" href="#">В корзину</a>
                    </div>
                </div>
            </div>

            <div class="mini-block-menu col-lg-3 col-sm-6">
                <div class="mini-block">
                    <img src="static/img/шейк.png" alt="">
                    <a class="name-recome" href="#">Манго шейк</a>
                    <p class="about-recome">Манго, молоко, сахарный сироп</p>
                    <div class="price-basket">
                        <p class="price-recome">450р</p>
                        <a class="basket" href="#">В корзину</a>
                    </div>
                </div>
            </div>

            <div class="mini-block-menu col-lg-3 col-sm-6">
                <div class="mini-block">
                    <img src="static/img/року.png" alt="">
                    <a class="name-recome" href="#">Шоколадный Року</a>
                    <p class="about-recome">С бананом, творожным сыром, вишневым джемом, шоколадом и голубикой</p>
                    <div class="price-basket">
                        <p class="price-recome">450р</p>
                        <a class="basket" href="#">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="podval">
        <div class="information">
            <div class="podval-mini mini-one">
                <div class="tutu-two">
                    <p>Tu•Tu</p>
                </div>
                <p>Служба доставки: тел. +7(999) 999 99 99</p>
                <a href="https://yandex.ru/maps/39/rostov-na-donu/house/ploshchad_gagarina_1/Z0AYcQZiSkQPQFptfX5ydn9jZg==/?ll=39.712318%2C47.237302&z=17">Где находимся: пл. Гагарина 1</a>
            </div>
            <div class="podval-mini">
                <p>Дополнительно:</p>
                <a href="#" class="mini-two">-меню калорийности </a>
                <a href="#">-отзывы </a>
                <a href="#">-бонус </a>
                <a href="#">-частые вопросы</a>
            </div>

            <div class="podval-mini">
                <p>О компании:</p>
                <a href="#" class="mini-three">-контакты</a>
                <a href="#" class="mini-three">-пользовательское соглашение</a>
                <a href="#" class="mini-three">-политика конфиденциальности</a>
            </div>
        </div>
        <div class="years">
            <p>Сеть кафе Tu•Tu © 2019-2023 </p>
        </div>
    </div>
    </section>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>